__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
/staticfiles/
/media/
/db.sqlite3
.vscode/
.idea/
*.swp
*.DS_Store
.env
.env.docker
.venv/
venv/
.git
.gitignore
docker-compose.yml
docker-compose.dev.yml
